<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="p-10 bg-white">
    <div class="space-y-4">
        <h3 class="text-xs font-bold text-slate-400 uppercase tracking-widest">Breadcrumb</h3>
        <ol class="flex items-center whitespace-nowrap" aria-label="Breadcrumb">
            <li class="inline-flex items-center">
                <a class="flex items-center text-sm text-slate-500 hover:text-indigo-600 focus:outline-none focus:text-indigo-600"
                    href="#">
                    Accueil
                </a>
                <svg class="flex-shrink-0 mx-2 overflow-visible size-4 text-slate-400"
                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="m9 18 6-6-6-6" />
                </svg>
            </li>
            <li class="inline-flex items-center">
                <a class="flex items-center text-sm text-slate-500 hover:text-indigo-600 focus:outline-none focus:text-indigo-600"
                    href="#">
                    Offres
                </a>
                <svg class="flex-shrink-0 mx-2 overflow-visible size-4 text-slate-400"
                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="m9 18 6-6-6-6" />
                </svg>
            </li>
            <li class="inline-flex items-center text-sm font-semibold text-slate-800 truncate" aria-current="page">
                Stage Développeur
            </li>
        </ol>
    </div>
</body>

</html>